body {
    background-color: darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn {
    background-color: firebrick;
    font-weight: 900;
}

#container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 1px red;
    width: 673px;
    
}

.cell {
    border: solid 1px darkred;
    height: 40px;
    width: 40px;
    background-color: firebrick;
}

.ink{
    background-color: black;
}

h1 {
    font-family: 'Rowdies', sans-serif;
    font-size: 60px;
    
}